<nav class="navbar sticky-bottom mt-5 " [ngStyle]="{'background-color': colors[sec]}">
    <div class="navbar-expand m-auto navbar-text" [ngStyle]="{'color': colorsInverse[sec]}">
      Made with 
      <i class="fa fa-heart mr-1" style="color: blue"></i>
      <i class="fa fa-heart mr-1" style="color: white"></i>
      <i class="fa fa-heart" style="color: red"></i>
      &
      <i class="fas fa-plane-departure mr-1" style="color: blue"></i>
      <i class="fas fa-plane-departure mr-1" style="color: white"></i>
      <i class="fas fa-plane-departure" style="color: red"></i>
      by <a href="#sitePortfolio" [ngStyle]="{'color': colorsInverse[sec]}">Thomas LOVITON</a>
    </div>
</nav>