<button id="retour" class="btn btn-{{colors[sec]}}" [ngStyle]="{'color': colorsInverse[sec]}" (click)="goBack()"><i class="fas fa-undo-alt fa-spin" [ngStyle]="{'color': colorsInverse[sec]}"></i> Retour <i class="fas fa-undo-alt fa-spin" [ngStyle]="{'color': colorsInverse[sec]}"></i></button>
<div *ngIf="article">
<div class="mx-auto card text-center border-{{colors[sec]}} text-{{colors[sec]}}">
  <div class="card-header text-{{colors[sec]}} border-{{colors[sec]}}">
    Modifier l'article de {{article.titre}} 
  </div>
  <form class="mx-auto text-{{colors[sec]}}">
      <input type="hidden" value="{{article.id}}"  #idA>
    <div class="form-group">
      <label>Titre de l'article </label>
      <input type="text" class="form-control border-{{colors[sec]}}" value="{{article.titre}}" placeholder="Titre de l'article" #ArticleTitre>
    </div>
    <div class="form-group">
      <label>Texte de l'article</label>
      <textarea type="text" class="form-control border-{{colors[sec]}}" placeholder="Texte de l'article"  rows="5" #ArticleTexte>{{article.texte}}</textarea>
    </div>
    <div class="form-group">
      <label>Mini texte de l'article</label>
      <textarea type="text" class="form-control border-{{colors[sec]}}" placeholder="Mini texte de l'article" rows="2" #ArticleMiniTexte>{{article.mini_texte}}</textarea>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Auteur de l'article</label>
        <input type="text" class="form-control border-{{colors[sec]}}" value="{{article.auteur}}" placeholder="Auteur de l'article" #ArticleAuteur>
      </div>
      <div class="form-group col-md-6">
        <label>Url de l'image de l'article</label>
        <input type="text" class="form-control border-{{colors[sec]}}"  value="{{article.urlImage}}" placeholder="Url de l'image de l'article" #ArticleUrlImage>
      </div>
    </div>
    <button class="btn btn-{{colors[sec]}}" (click)="modifier(idA.value, ArticleTitre.value, ArticleTexte.value, ArticleMiniTexte.value, ArticleAuteur.value, ArticleUrlImage.value); 
      ArticleTitre.value=''; ArticleTexte.value=''; ArticleMiniTexte.value=''; ArticleAuteur.value=''; ArticleUrlImage.value=''">
    Ajouter
  </button>
  </form>
</div>
</div>